<h2 class="text-center mx-auto text-muted">Title: <%= @post.title %></h2>

<%= render partial: 'form', locals: { post: @post, comment: @comment, path: post_comments_path(@post) } %>
<br>
<div class="d-flex justify-content-center">
  <div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <%= link_to 'All Posts', posts_path, class: "btn btn-secondary" %> 
  </div>
</div>