<h1 class="text-center text-muted">Disaster Category</h1>

<ul class="list-group mx-auto" style="width: 450px">
  <% @categories.each do |category| %>
    <li class="list-group-item list-group-item-secondary text-center">
      <%= category.name %>
    </li>
  <% end %>
</ul>
<br>
<div class="d-flex justify-content-center" >
  <%= link_to 'All Post', posts_path, class: "btn btn-dark" %>
</div>